.bottom-line{
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   align-items: center;
   margin-right: 0px;
   padding-right: 0px;
}

.search-icon{
   width: 300px;
}
.number-button{
  text-align: center;
}
.bottom-right{
   display: flex;
   justify-content: end;
   align-items:center;
}